{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>{% block title %}{% endblock %}</title>


    <!-- Favicons -->
    <!--    <link th:href="@{/web/img/favicon.png}" rel="icon">-->
    <!--    <link th:href="@{/web/img/apple-touch-icon.png}" rel="apple-touch-icon">-->

    <!-- Vendor CSS Files -->
    <link href="{% static 'blog/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'blog/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'blog/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'blog/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Template Main CSS File -->
    <link href="{% static 'blog/css/style.css' %}" rel="stylesheet">


</head>

<body>

<header id="header" class="fixed-top">

    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo">
            <a href="/">
                saydum.ru
            </a>
        </h1>

        <nav id="navbar" class="navbar">
            <ul class="text-end">
                <li>
                    <a class="nav-link scrollto"
                       href="/">
                        Home
                    </a>
                </li>

                <li>
                    <a class="nav-link scrollto "
                       href="/posts">
                        Blog
                    </a>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>

</header>

<main>
    {% block body %} {% endblock %}
</main>

<script src="{% static 'blog/vendor/purecounter/purecounter_vanilla.js' %}" type="text/javascript"></script>
<script src="{% static 'blog/vendor/bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript" ></script>
<script src="{% static 'blog/vendor/glightbox/js/glightbox.min.js' %}" type="text/javascript"></script>
<script src="{% static 'blog/vendor/swiper/swiper-bundle.min.js' %}" type="text/javascript"></script>
<script src="{% static 'blog/vendor/typed.js/typed.umd.js' %}" type="text/javascript"></script>

<script src="{% static 'blog/js/main.js' %}" type="text/javascript"></script>

</body>

</html>
